.container{
    display: flex;
    margin: auto;
    background-color: blueviolet;
    width: 40rem;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: aqua;
}

.none{
    display: none;
}