.container{
    display: flex;
    margin: auto;
    background-color: blueviolet;
    width: 40rem;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: aqua;
}

.none{
    display: none;
}

.event-data{
    margin: auto;
    margin-bottom: 100px;
    background-color: navy;
    color: white;
    width: fit-content;
    padding: 10px;

}

body{
    background-color: #333;
}

h2{
    text-align: center;
}